/**
 * @file
 * CSS for popup form
 */
 
* {
  margin: 0;
  padding: 0;
}

#sesamevault-popup-status-wrapper {
  width: 50%;
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  height: 1em;
  overflow: hidden;
  float: left;
}

#sesamevault-popup-status {
  background-color: #666666;
  height: 100%;
  width: 0;
}

#sesamevault-popup-status-state {
  margin-left: 1em;
  color: #BBBBBB;
  font-size: .75em;
  float: left;
  width: 30%;
}

.sesamevault-popup-form {
  border: 2px solid #999999;
  background-color: #EEEEEE;
  margin: 1em;
  padding: 1em;
}

a#sesamevault-window-closer {
  margin: 1em;
  text-decoration: none;
  color: blue;
}

a#sesamevault-window-closer:hover {
  text-decoration: underline;
}

.form-text {
  border: 2px solid #888888;
  padding: 5px;
  font-size: 1.5em;
}

.form-textarea {
  border: 2px solid #888888;
  padding: 5px;
  font-size: 1.5em;
}

.sesamevault-popup-done {
  color: green;
  font-weight: bold;
}