/**
 * @file
 * CSS for cck form
 */
 
.sesamevault-video-preview-container {
  font-size: .75em;
  border: 1px solid #AAAAAA;
  padding: 1em;
  width: 95%;
}

.sesamevault-video-preview-container img {
  float: right;
  margin: 0 0 1em 1em;
}